pydantic
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml
pypdf
wikipedia
youtube_search
langgraph
langchain_huggingface
faiss-cpu
langchain_google_genai
chromadb
duckduckgo_search
yfinance